body {
    padding-top: 60px; /* need this so navbar doesn't overlay content*/
    padding-bottom: 40px;
	color: #4a4a4a;
}

/*---------------------------------
		 HELPER CLASSES
-----------------------------------*/

.instruction {
	font-style: italic;
}

.no-wrap {
	white-space: nowrap;
}

.first { 
	margin-top: 1em;
}

.space-before {
	padding-top: 1em;
}

.indent {
	text-indent: 30px;
}

.currency { 
	text-align: right; 
	padding-right: 2em;
}

/*---------------------------------
		 HEADERS
-----------------------------------*/
/* Reduced size compared to Bootstrap */
h1 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 20.8px;
  font-size: 2.08rem;
  line-height: 1.3;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.25;
}

h5 {
  font-size: 18.4px;
  font-size: 1.84rem;
}

h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/*---------------------------------
	BOOTSTRAP POPOVER OVERRIDES
-----------------------------------*/
/* Use this to customize popover background color */

.popover {
   	//background: #1a1a19;
}

.popover.right .arrow:after {
    //border-right-color: #1a1a19;
}

.popover.top .arrow:after {
    //border-top-color: #1a1a19;
}

.popover.bottom .arrow:after {
    //border-bottom-color: #1a1a19;
}

.popover.left .arrow:after {
    //border-left-color: #1a1a19;
}
/*---------------------------------
	BOOTSTRAP OVERRIDES
-----------------------------------*/

.navbar-brand {
	padding: 5px 15px;
}

.navbar-brand img.no-svg,
.ie8 .navbar-brand img {
	display: none;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f2f2f2;
}

/*---------------------------------
	 	MEDIA QUERIES
-----------------------------------*/

* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
@media screen and (max-width: 480px) {
}

/* Small devices (tablets, 768px to 991px) */
@media screen and (min-width: 769px) and (max-width: 991px) { 
}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 	
}

/* Medium devices (desktops, 992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}    
