 <div class="jumbotron">
 	<h1>Den Skeleton Application</h1>
    <p>The purpose of this HTML is to <em>help</em> determine what default settings are with CSS.<br /> <small>For the sake of brevity, please refer to <a href="http://getbootstrap.com/css/" target="_blank">http://getbootstrap.com/css/</a> for other elements and many classes not shown here.</small>
    </p>
</div>

<h1><strong>Base Styles</strong></h1>     

<hr />
    
    <h2><strong>Headings</strong></h2>
         
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    
<hr />
     
    <h2><strong>Body Copy</strong></h2>
      
	<h3>Lead Paragraph</h3>
	    <p>An additional <code>lead</code> class alters a paragraph&#8217;s presentation.</p>
	    <p class="lead"> Lorem ipsum dolor sit amet, adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>

    <h3>Body Text and Paragraphs</h3>
        <p class="first">Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>

<hr />
     
    <h2><strong>List Types</strong></h2>
	    
	    <h3>Ordered List</h3>
		    <ol>
		      <li>Lorem ipsum dolor sit amet</li>
		      <li>Consectetur adipiscing elit</li>
		      <li>Integer molestie lorem at massa</li>
		      <li>Facilisis in pretium nisl aliquet</li>
		      <li>Nulla volutpat aliquam velit</li>
		      <li>Faucibus porta lacus fringilla vel</li>
		      <li>Aenean sit amet erat nunc</li>
		      <li>Eget porttitor lorem</li>
		    </ol>	
		
		<h3>Unordered List</h3>
		    <ul>
		      <li>Lorem ipsum dolor sit amet</li>
		      <li>Facilisis in pretium nisl aliquet</li>
		      <li>Nulla volutpat aliquam velit
		        <ul>
		          <li>Phasellus iaculis neque</li>
		          <li>Purus sodales ultricies</li>
		          <li>Ac tristique libero volutpat at</li>
		        </ul>
		      </li>
		      <li>Faucibus porta lacus fringilla vel</li>
		      <li>Eget porttitor lorem</li>
		    </ul>		
		    
		    <h3>Unstyled List</h3>
				<p>Remove the default <code>list-style</code> and left margin on list items (immediate children only). <strong>This only applies to immediate children list items</strong>, meaning you will need to add the class for any nested lists as well.</p>
			    <ul class="list-unstyled">
			      <li>Lorem ipsum dolor sit amet</li>
			      <li>Consectetur adipiscing elit</li>
			      <li>Nulla volutpat aliquam velit
			        <ul>
			          <li>Phasellus iaculis neque</li>
			          <li>Purus sodales ultricies</li>
			          <li>Ac tristique libero volutpat at</li>
			        </ul>
			      </li>
			      <li>Faucibus porta lacus fringilla vel</li>
			      <li>Aenean sit amet erat nunc</li>
			      <li>Eget porttitor lorem</li>
			    </ul>
					  
		  <h3>Inline</h3>
		  <p>Place all list items on a single line with <code>display: inline-block;</code> and some light padding.</p>
		    <ul class="list-inline">
		      <li>Lorem ipsum</li>
		      <li>Phasellus iaculis</li>
		      <li>Nulla volutpat</li>
		    </ul>
  
		<h3>Definition List</h3>
		    <dl>
			    <dt>Definition List Term</dt>
			    	<dd>This is a definition description.</dd>
			    	<dd>This is a definition description.</dd>
			    <dt>Definition List Term</dt>
			    	<dd>This is a longer definition description. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
			    	</dd>
		    </dl>
		
		<h3>Horizontal Definition List</h3>
			<p>An additional <code>dl-horizontal</code> class alters a definition list&#8217;s presentation.</p>
	          <dl class="dl-horizontal">
	            <dt>Description lists</dt>
	            <dd>A description list is perfect for defining terms.</dd>
	            <dt>Euismod</dt>
	            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
	            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
	            <dt>Malesuada porta</dt>
	            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
	            <dt>Felis euismod semper</dt>
	            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
	          </dl>
<hr />
    	
    <h2><strong>Images</strong></h2>
	   
	    <h3>Responsive images</h3>
			<p>Images in Bootstrap 3 can be made responsive-friendly via the addition of the <code>.img-responsive</code> class. This applies 				<code>max-width: 100%;</code> and <code>height: auto;</code> to the image so that it scales nicely to the parent element.</p>
			
			<div class="highlight"><pre><code class="html"><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;...&quot;</span> <span class="na">class=</span><span class="s">&quot;img-responsive&quot;</span> <span class="na">alt=</span><span class="s">&quot;Responsive image&quot;</span><span class="nt">&gt;</span>
</code></pre></div>
	  
	  <h3>Image shapes</h3>
	  	<p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p>
	  
	  		<h4>Cross-browser compatibility</h4>
	  			<p>Keep in mind that Internet Explorer 8 lacks support for rounded corners.</p>
	  			<img src="http://placehold.it/140x140" class="img-rounded" alt="A generic square placeholder image with rounded corners">
	  			<img src="http://placehold.it/140x140" class="img-circle" alt="A generic square placeholder image where only the portion within the circle circumscribed about said square is visible">
	  			<img src="http://placehold.it/140x140" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">
	
<hr />
     
    <h2><strong>Forms</strong></h2>
     
        <h3>Basic Example</h3>
			<p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>
    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Check me out
        </label>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

<!-- Next -->

	<h3>Inline form</h3>
		<p>Add <code>.form-inline</code> to your <code>&lt;form&gt;</code> for left-aligned and inline-block controls. <strong>This only applies to forms within viewports that are at least 768px wide.</strong></p>
    <h4 class="text-danger bg-danger">Requires custom widths</h4>
    <p>Inputs, selects, and textareas are 100% wide by default in Bootstrap. To use the inline form, you'll have to set a width on the form controls used within.</p>
    <h4 class="text-warning bg-warning">Always add labels</h4>
    <p>Screen readers will have trouble with your forms if you don't include a label for every input. For these inline forms, you can hide the labels using the <code>.sr-only</code> class.</p>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>			
			
<!-- Next -->

	<h3>Horizontal form</h3>
		<p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form. Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.</p>
		    <form class="form-horizontal" role="form">
		      <div class="form-group">
		        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		        <div class="col-sm-10">
		          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		        <div class="col-sm-10">
		          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
		        </div>
		      </div>
		      <div class="form-group">
		        <div class="col-sm-offset-2 col-sm-10">
		          <div class="checkbox">
		            <label>
		              <input type="checkbox"> Remember me
		            </label>
		          </div>
		        </div>
		      </div>
		      <div class="form-group">
		        <div class="col-sm-offset-2 col-sm-10">
		          <button type="submit" class="btn btn-default">Sign in</button>
		        </div>
		      </div>
		    </form>
					
<!-- Next -->
 	
 	 <h3>Static control</h3>
 	 	<p>When you need to place plain text next to a form label within a horizontal form, use the <code>.form-control-static</code> class on a <code>&lt;p&gt;</code>.</p>
		    <form class="form-horizontal" role="form">
		      <div class="form-group">
		        <label class="col-sm-2 control-label">Email</label>
		        <div class="col-sm-10">
		          <p class="form-control-static">email@example.com</p>
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
		        <div class="col-sm-10">
		          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
		        </div>
		      </div>
		    </form>

<!-- Next -->
	
	<h3>Form elements</h3>
		<form>
			<p>The control below is <code>select</code><br>
				<label>Select Element:</label><br />
				<select class="form-control">
					<option>Jan</option>
					<option>Feb</option>
					<option>March</option>
					<option>April</option>
					<option>May</option>
				</select>
				<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
			</p>

			<p>The control below is a multiple <code>select</code><br>
				<label>Multiple Select Element:</label><br />
		    		<select multiple class="form-control">
			    		<optgroup label="Option Group 1">
				    		<option value="1">Option 1</option>
				    		<option value="2">Option 2</option>
				    		<option value="3">Option 3</option>
				    	</optgroup>
				    	<optgroup label="Option Group 2">
					    	<option value="1">Option 1</option>
					    	<option value="2">Option 2</option>
					    	<option value="3">Option 3</option>
					    </optgroup>
					</select>
			</p>
			<p>
				<label class="checkbox"><input type="checkbox"> Checkbox option</label>
				<label class="checkbox"><input type="checkbox"> Checkbox option</label>
			</p>
			<p><label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				Radio option</label>
				<label class="radio">
				<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	Radio option</label>
			</p>
			<p><label for="textarea">The input below is a <code>textarea</code></label><br>
			<textarea class="form-control" rows="3"></textarea></p>
		</form>  

<!-- Next -->
		
		  <h3>Validation states</h3>
		  	<p>Bootstrap includes validation styles for error, warning, and success states on form controls. To use, add <code>.has-warning</code>, <code>.has-error</code>, or <code>.has-success</code> to the parent element. Any <code>.control-label</code>, <code>.form-control</code>, and <code>.help-block</code> within that element will receive the validation styles.</p>

		    <form role="form">
		      <div class="form-group has-success">
		        <label class="control-label" for="inputSuccess1">Input with success</label>
		        <input type="text" class="form-control" id="inputSuccess1">
		      </div>
		      <div class="form-group has-warning">
		        <label class="control-label" for="inputWarning1">Input with warning</label>
		        <input type="text" class="form-control" id="inputWarning1">
		      </div>
		      <div class="form-group has-error">
		        <label class="control-label" for="inputError1">Input with error</label>
		        <input type="text" class="form-control" id="inputError1">
		      </div>
		    </form>   

<hr />
  	
  	
  	<h2><strong>Buttons</strong></h2>
  		<p>Use any of the available button classes to quickly create a styled button.</p>
		    <button type="button" class="btn btn-default">Default</button>
		    <button type="button" class="btn btn-primary">Primary</button>
		    <button type="button" class="btn btn-success">Success</button>
		    <button type="button" class="btn btn-info">Info</button>
		    <button type="button" class="btn btn-warning">Warning</button>
		    <button type="button" class="btn btn-danger">Danger</button>
		    <button type="button" class="btn btn-link">Link</button>
  	
  	<h3>Button Sizes</h3>
	  <p>Fancy larger or smaller buttons? Add <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-xs</code> for additional sizes.</p>
	    <p>
	      <button type="button" class="btn btn-primary btn-lg">Large button</button>
	      <button type="button" class="btn btn-default btn-lg">Large button</button>
	    </p>
	    <p>
	      <button type="button" class="btn btn-primary">Default button</button>
	      <button type="button" class="btn btn-default">Default button</button>
	    </p>
	    <p>
	      <button type="button" class="btn btn-primary btn-sm">Small button</button>
	      <button type="button" class="btn btn-default btn-sm">Small button</button>
	    </p>
	    <p>
	      <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
	      <button type="button" class="btn btn-default btn-xs">Extra small button</button>
	    </p>    
    
  	<h3>Button Tags</h3>
		<p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>
		  <form>
		    <a class="btn btn-default" href="#" role="button">Link</a>
		    <button class="btn btn-default" type="submit">Button</button>
		    <input class="btn btn-default" type="button" value="Input">
		    <input class="btn btn-default" type="submit" value="Submit">
		  </form>    
		
    <h2><strong>Tables</strong></h2>
    
	<h3>Basic example</h3>
  		<p>For basic styling&mdash;light padding and only horizontal dividers&mdash;add the base class <code>.table</code> to any <code>&lt;table&gt;</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>    
    
	<h3>Striped rows</h2>
		<p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>
		    <table class="table table-striped">
		      <thead>
		        <tr>
		          <th>#</th>
		          <th>First Name</th>
		          <th>Last Name</th>
		          <th>Username</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>1</td>
		          <td>Mark</td>
		          <td>Otto</td>
		          <td>@mdo</td>
		        </tr>
		        <tr>
		          <td>2</td>
		          <td>Jacob</td>
		          <td>Thornton</td>
		          <td>@fat</td>
		        </tr>
		        <tr>
		          <td>3</td>
		          <td>Larry</td>
		          <td>the Bird</td>
		          <td>@twitter</td>
		        </tr>
		      </tbody>
		    </table>	
	
	<h3>Bordered table</h3>
		<p>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</p>
		    <table class="table table-bordered">
		      <thead>
		        <tr>
		          <th>#</th>
		          <th>First Name</th>
		          <th>Last Name</th>
		          <th>Username</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td rowspan="2">1</td>
		          <td>Mark</td>
		          <td>Otto</td>
		          <td>@mdo</td>
		        </tr>
		        <tr>
		          <td>Mark</td>
		          <td>Otto</td>
		          <td>@TwBootstrap</td>
		        </tr>
		        <tr>
		          <td>2</td>
		          <td>Jacob</td>
		          <td>Thornton</td>
		          <td>@fat</td>
		        </tr>
		        <tr>
		          <td>3</td>
		          <td colspan="2">Larry the Bird</td>
		          <td>@twitter</td>
		        </tr>
		      </tbody>
		    </table>	

		<h3>Hover rows</h3>
			<p>Add <code>.table-hover</code> to enable a hover state on table rows within a <code>&lt;tbody&gt;</code>.</p>
			    <table class="table table-hover">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>First Name</th>
			          <th>Last Name</th>
			          <th>Username</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>1</td>
			          <td>Mark</td>
			          <td>Otto</td>
			          <td>@mdo</td>
			        </tr>
			        <tr>
			          <td>2</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			        </tr>
			        <tr>
			          <td>3</td>
			          <td colspan="2">Larry the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			    </table>	
	
		<h3>Condensed table</h3>
			<p>Add <code>.table-condensed</code> to make tables more compact by cutting cell padding in half.</p>
			    <table class="table table-condensed">
			      <thead>
			        <tr>
			          <th>#</th>
			          <th>First Name</th>
			          <th>Last Name</th>
			          <th>Username</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>1</td>
			          <td>Mark</td>
			          <td>Otto</td>
			          <td>@mdo</td>
			        </tr>
			        <tr>
			          <td>2</td>
			          <td>Jacob</td>
			          <td>Thornton</td>
			          <td>@fat</td>
			        </tr>
			        <tr>
			          <td>3</td>
			          <td colspan="2">Larry the Bird</td>
			          <td>@twitter</td>
			        </tr>
			      </tbody>
			    </table>	
  <h3>Contextual classes</h3>
  	<p>Use contextual classes to color table rows or individual cells.</p>
  		<div class="table-responsive">
	  		<table class="table table-bordered table-striped">
		      <colgroup>
		        <col class="col-xs-1">
		        <col class="col-xs-7">
		      </colgroup>
		      <thead>
		        <tr>
		          <th>Class</th>
		          <th>Description</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		          <td>
		            <code>.active</code>
		          </td>
		          <td>Applies the hover color to a particular row or cell</td>
		        </tr>
		        <tr>
		          <td>
		            <code>.success</code>
		          </td>
		          <td>Indicates a successful or positive action</td>
		        </tr>
		        <tr>
		          <td>
		            <code>.info</code>
		          </td>
		          <td>Indicates a neutral informative change or action</td>
		        </tr>
		        <tr>
		          <td>
		            <code>.warning</code>
		          </td>
		          <td>Indicates a warning that might need attention</td>
		        </tr>
		        <tr>
		          <td>
		            <code>.danger</code>
		          </td>
		          <td>Indicates a dangerous or potentially negative action</td>
		        </tr>
		      </tbody>
		    </table>
		</div>
		
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Column heading</th>
          <th>Column heading</th>
          <th>Column heading</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>1</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="success">
          <td>3</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="info">
          <td>5</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="warning">
          <td>7</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
        <tr class="danger">
          <td>9</td>
          <td>Column content</td>
          <td>Column content</td>
          <td>Column content</td>
        </tr>
      </tbody>
    </table>
    
  <h2 id="tables-responsive">Responsive tables</h2>
  <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally up to small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
  <div class="bs-example">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
<hr />
          
    <blockquote>
    "This stylesheet is going to help so freaking much." <br />-Blockquote
    </blockquote>
    <!-- End of Sample Content -->
