<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('DEN '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/vendor/bootstrap/css/bootstrap.min.css')
        ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->appendFile($this->basePath() . '/vendor/modernizr/modernizr.min.js')
            ->appendFile($this->basePath() . '/vendor/respond/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
         ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a class="navbar-brand" href="<?php echo $this->url('home') ?>">			
					    <img src="<?= $this->basePath(); ?>/img/den-logo.svg" alt="DataEmporium.net">
						<img class="no-svg" src="<?= $this->basePath(); ?>/img/den-logo.png" alt="DataEmporium.net">
					</a>	                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
			          	<?= $this->partial('/layout/main-navigation.phtml'); ?>
                    </ul>
                    <p class="navbar-text navbar-right hidden-xs">Welcome Guest &nbsp;|&nbsp;<a href="#" class="navbar-link">&nbsp;Log Out</a></p>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 1999 - <?php echo date('Y') ?> <a href="http://dataemporium.net/">DataEmporium.net</a> <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
