<li class="active"><a href="<?php echo $this->url('stock') ?>"><?php echo $this->translate('Stocks') ?></a></li>
<li class="divider"></li>
<li><a href="#" class="navbar-link visible-xs">&nbsp;Log Out</a></li>