<style>
	#main-region {
		margin-top: 3em;
	}
</style>
<h1>Stock Portfolio App</h1>
<p>This is an example of a client-side Backbone Marionette application, backed by a ZF2 application, and an Apigility api, using Doctrine as the ORM.</p>
<div id="main-region"></div>
<div id="dialog-region"></div>

<script id="stock-item-template" type="text/template">
	<td><a href="http://finance.yahoo.com/q?s=<%= symbol %>&ql=1" target="_blank"><%= symbol %></a></td> 
	<td class="price"><%= price %></td>
	<td><button class="btn btn-default js-delete">Delete</button></td>
</script>

<script id="no-item-template" type="text/template">
<td colspan="2">No stock...</td>
</script>

<script id="stock-portfolio-template" type="text/template">
<p>Stock Symbol: <input type="text" id="js-symbol"> <button class="btn btn-default" id="js-add">Add</button></p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Symbol</th>
			<th>Price</th>
			<th></th>
		</tr>
	<thead>
	<tbody class="table-condensed">
	</tbody>
</div>
</script>

<script data-main="<?= $this->basepath() ?>/js/require-main.js" 
		src="<?= $this->basepath() ?>/vendor/requireJS/require.js"> </script>


