<h1><?php echo $this->translate('Sign In'); ?></h1>

<?php
$form = $this->loginForm;
$form->prepare();
$form->setAttribute('action', $this->url('zfcuser/login'));
$form->setAttribute('method', 'post');
?>

<?php echo $this->form()->openTag($form) ?>


<div class="row">
	<div class="col-sm-6">

	<?php foreach ($form as $element) : ?>
	  
	  <div class="zend_form <?php if ($this->formElementErrors($element)) echo "has-error" ?>">
	
	    <div class="form-group">
	        <?php
	            if ('submit' != $element->getAttribute('type')) { ?>
	                <label class="control-label"><?php echo $element->getLabel() ?></label>
	                <?php
	                $this->formInput($element->setAttribute('class', 'form-control')
	               							 ->setAttribute('placeholder', $element->getLabel()));
	                        
	            } else {
	                $this->formButton($element->setAttribute('class','btn btn-default'));
	            }
	            
	            echo $this->formElement($element);
	            
	            if ($this->formElementErrors($element)) : ?>
	                <?php
	                echo $this->formElementErrors()
	                    ->setMessageOpenFormat('<p class="help-block">')
	                    ->setMessageSeparatorString('</p><p class="help-block">')
	                    ->setMessageCloseString('</p>')
	                    ->render($element);
	                ?>
	            <?php endif; ?>
	    </div>
	  </div>
	 
	<?php
	endforeach;
 
echo $this->form()->closeTag() ?>
 
<?php if ($this->enableRegistration) : ?>
<?php echo $this->translate('Not registered?'); ?> <a href="<?php echo $this->url('zfcuser/register') . ($this->redirect ? '?redirect='.$this->redirect : '') ?>"><?php echo $this->translate('Sign up!'); ?></a>
<?php endif; ?>
	</div>
</div>
	